.col
{
background-color: blue;
border: 2px solid white;
color: white;
}
.row
{
background-color: blue;
border: 2px solid white;
color: white;
}
.col-12
{
    background-color: blue;
    border: 2px solid white;
    color: white;
}